{% extends 'layout.html' %}

{% block content %}
<div class="pagetitle">
  <h1>Data Klasifikasi</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="">Home</a></li>
      <li class="breadcrumb-item active">Data Klasifikasi</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section">
  <div class="col-lg-12">
      <div class="card">
        <div class="card-body" style="overflow-x: auto;">
          <h5 class="card-title">Hasil Data Klasifikasi</h5>
          <!-- Table with stripped rows -->
          <div style="overflow-x: auto;">
          <table class="table datatable table-bordered">
            <thead>
              <tr>
                <th>No</th>
                <th>Al Khaidar</th>
                <th>Jurusan</th>
                <th>Prodi</th>
                <th>Nama UKT</th>
                <th>Jumlah UKT</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>01</td>
                <td>Al Khaidar</td>
                <td>TIK</td>
                <td>Teknik Informatika</td>
                <td>UKT Kelompok 3</td>
                <td>2 Juta</td>
                <td><button type="button" class="btn btn-danger delete-btn" onclick="confirmDelete()"><i class="bi bi-trash"></i></button></td>
              </tr>
            </tbody>
          </table>
          <!-- End Table with stripped rows -->
        </div>
      </div>
    </div>
</section>

<script>
  function confirmDelete() {
    if (confirm("Apakah Anda yakin ingin menghapus data ini?")) {
      // Tindakan penghapusan akan dilakukan di sini
      alert("Data telah dihapus"); // Contoh: Anda dapat menggantinya dengan tindakan penghapusan sesungguhnya
    } else {
      // Pengguna membatalkan penghapusan
      // Tidak ada tindakan yang diambil
    }
  }
</script>
{% endblock %}
