{% extends 'layout.html' %}

{% block content %}
<div class="pagetitle">
  <h1>Data Training</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="">Home</a></li>
      <li class="breadcrumb-item active">Data Training</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<!-- Button untuk menampilkan modal form tambah -->
<button id="tambahButton" type="button" class="btn btn-primary mb-2" data-bs-toggle="modal"
  data-bs-target="#tambahModal">
  <span class="badge bg-primary"><i class="bi bi-plus"></i>Data Training</span>
</button>

<!-- Modal form tambah -->
<div class="modal fade" id="tambahModal" tabindex="-1" aria-labelledby="tambahModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary font-weight-bold" id="tambahModalLabel">Tambah Data Training</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Isi formulir tambah di sini -->
        <form method="POST" action="/datatraining" enctype="multipart/form-data">
          <div class="row mb-3">
            <div class="col-sm-12">
              <div class="input-group">
                <input type="file" name="file" class="form-control">
              </div>
            </div>
            <div class="col-sm-12 text-secondary">
              <i class="bi bi-info-circle-fill text-info me-1"></i> File harus memiliki ekstensi .xlxx
            </div>
          </div>
          <div class="row mb-2 justify-content-end">
            <div class="col-sm-auto me-1">
              <button type="reset" class="btn btn-secondary">
                <i class="bi bi-arrow-counterclockwise me-1"></i> Reset
              </button>
              <button type="submit" class="btn btn-primary">
                <i class="bi bi-cloud-upload me-1"></i> Upload
              </button>
            </div>
          </div>
      </div>
      </form>
    </div>
  </div>
</div>
</div>

<section class="section">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Data Training</h5>
        <!-- Table with stripped rows -->

        <table id="myTable" class="table responsive nowrap table-bordered table-striped align-middle"
          style="width:100%">
          <thead>
            <tr>
              <th>No</th>
              <th>Nama Mahasiswa</th>
              <th>Pekerjaan Ayah</th>
              <th>Penghasilan Ayah</th>
              <th>Status Ayah</th>
              <th>Pekejaan Ibu</th>
              <th>Penghasilan Ibu</th>
              <th>Status Ibu</th>
              <th>Jumlah Tanggungan</th>
              <th>Kepemilikan Rumah</th>
              <th>Sumber Air</th>
              <th>Jumlah Kendaraan Roda Empat </th>
              <th>Jumlah Kendaraan Roda Dua</th>
              <th>Biaya Listrik Bulanan</th>
              <th>Watt Listrik</th>
              <th>Kondisi Rumah</th>
              <th>UKT</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for row in tbl_datatraining %}
            <tr>
              <td>{{loop.index}}</td>
              <td>{{row.1}}</td>
              <td>{{ convertPA(row.2) }}</td>
              <td>{{ convertPA1(row.3) }}</td>
              <td>{{ convertSA(row.4) }}</td>
              <td>{{ convertPI(row.5) }}</td>
              <td>{{ convertPI1(row.6) }}</td>
              <td>{{ convertSI(row.7) }}</td>
              <td>{{row.10}} Orang</td>
              <td>{{ convertKR(row.9) }}</td>
              <td>{{ convertSA1(row.10) }}</td>
              <td>{{row.11}}</td>
              <td>{{row.12}}</td>
              <td>{{ convertBLB(row.13) }}</td>
              <td>{{row.14}} Ampere</td>
              <td>{{ convertKR1(row.15) }}</td>
              <td>{{ convertUKT(row.16) }}</td>
              <td>
                <button type="button" class="btn btn-danger">
                  <i class="bi bi-trash"></i>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- End Table with stripped rows -->
      </div>
    </div>
  </div>
</section>

<script>
  // Menangani klik tombol tambah
  document.getElementById('tambahButton').addEventListener('click', function () {
    // Kosongkan form tambah sebelum menampilkannya
    document.getElementById('formTambah').reset();
  });
</script>
{% endblock %}