{% extends 'layout.html' %}

{% block content %}
<div class="pagetitle">
  <h1>Data Klasifikasi</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="">Home</a></li>
      <li class="breadcrumb-item active">Data Klasifikasi</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Hasil Klasifikasi</h5>
        <!-- Table with stripped rows -->

        <table id="myTable" class="table responsive nowrap table-bordered table-striped align-middle"
          style="width:100%">
          <thead>
            <tr>
              <th>No</th>
              <th>Nama Mahasiswa</th>
              <th>Jurusan</th>
              <th>Prodi</th>
              <th>Nama UKT</th>
              <th>Jumlah UKT</th>
            </tr>
          </thead>
          <tbody>
            {% for row in tbl_datatesting %} 
            <tr>
              <td>{{loop.index}}</td>
              <td>{{row.1}}</td>
              <td>{{row.2}}</td>
              <td>{{row.3}}</td>
              <td>{{ convertUKT(row.18) }}</td>
              <td>Rp {{row.19}} </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- End Table with stripped rows -->
      </div>
    </div>
  </div>
</section>

<script>
  function confirmDelete() {
    if (confirm("Apakah Anda yakin ingin menghapus data ini?")) {
      // Tindakan penghapusan akan dilakukan di sini
      alert("Data telah dihapus"); // Contoh: Anda dapat menggantinya dengan tindakan penghapusan sesungguhnya
    } else {
      // Pengguna membatalkan penghapusan
      // Tidak ada tindakan yang diambil
    }
  }
</script>
{% endblock %}